autostart/
btop/
celluloid/
Code/
conf/
custom/
dconf/
discord/
dolphinrc/
dolphinrc/
geany/
gtk-3.0/
gtk-4.0/
gtkcord4/
htop/
kde.org/
microsoft-edge/
mimeapps.list
mpv/
ranger/
pipewire/
PreMiD/
pulse/
pavucontrol.ini
QtProject.conf
qt5ct/
ragner/
session/
systemd/
temas/
Thunar/
tlpui/
user-dirs.dirs
user-dirs.locale
vlc/
wlogout/
WebCord/
wezterm/
xfce4/
xsettingsd/
yay/
ArmCord
mps-youtube
pamac
whoozle.github.io
xarchiver