@define-color foreground #b7b7bc;
@define-color background #0c0d0f;
@define-color cursor #b7b7bc;

@define-color color0 #0c0d0f;
@define-color color1 #33534F;
@define-color color2 #585C5F;
@define-color color3 #A1672B;
@define-color color4 #7A8437;
@define-color color5 #B2A646;
@define-color color6 #716898;
@define-color color7 #b7b7bc;
@define-color color8 #808083;
@define-color color9 #33534F;
@define-color color10 #585C5F;
@define-color color11 #A1672B;
@define-color color12 #7A8437;
@define-color color13 #B2A646;
@define-color color14 #716898;
@define-color color15 #b7b7bc;
