@import 'colors-waybar.css';

* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

#window {
  color: @foreground;
}

window#waybar {
    background: rgba(0,0,0,0);
    color: @foreground;
    transition-property: background-color;
    transition-duration: 0.5s;
}

tooltip {
    background: rgba(87, 61, 38, 0.5);
    border-radius: 0px 0px 6px 6px
}
tooltip label {
    color: #FFF9D5;
}

#workspaces button {
    color: @color8;
    box-shadow: inset 0 -3px transparent;
    margin-right: 0em;
    padding-left: 4px;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
    color: @color9;
    margin-left: 0em;
    margin-right: 0em;
    padding-left: 0px;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#language,
#custom-playerctl,
#custom-netusage,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    color: @foreground;
    background: rgba(12, 13, 15, 0.6);
    padding: 0px 10px;
    margin: 0px 0px;
}

#tray {
    border-radius: 6px;
    margin-right: 10px;
}

#workspaces {
    border-radius: 0px 0px 6px 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

#language {
    color: @color1;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 0px 0px 6px
}

#custom-playerctl {
    border-radius: 0px 0px 6px 6px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @color3;
}

#custom-netusage,
#network {
    color: @color7;
}

#pulseaudio {
    color: @color4;
}

#pulseaudio.microphone {
    color: @color5;
}

#battery {
    color: @color2;
    border-radius: 0 0px 0px 0;
    margin-right: 0px;
    border-left: 0px;
}

#backlight {
  color: @color6;
}

@keyframes blink {
    to {
        background-color: rgba(30, 34, 42, 0.5);
        color: #abb2bf;
    }
}

tooltip {
    border-radius: 15px;
    padding: 15px;
    background-color: @background;
    font-family: CartographCF Nerd Font;
}

tooltip label {
    padding: 5px;
}

label:focus {
    background-color: @background;
}
